@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --hero-shadow: 0px 0px 150px 50px #753F21BF inset;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.hero{
  background: #FFFFFF;
  box-shadow: var(--hero-shadow);
}

.hero-btn{
  background: linear-gradient(0deg, #753F21, #753F21),
linear-gradient(84.74deg, rgba(255, 255, 255, 0) 8.76%, rgba(11, 7, 4, 0.2) 71.03%);
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
