@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --hero-shadow: 0px 0px 150px 50px #753F21BF inset;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #FFF3EA;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.hero{
  background: #FFFFFF;
  box-shadow: var(--hero-shadow);
}

.hero-btn{
  background: linear-gradient(0deg, #753F21, #753F21),
linear-gradient(84.74deg, rgba(255, 255, 255, 0) 8.76%, rgba(11, 7, 4, 0.2) 71.03%);
}
.product-card{
  background: linear-gradient(0deg, #FFFFFF, #FFFFFF),
  linear-gradient(181.11deg, rgba(255, 255, 255, 0) 0.95%, rgba(117, 63, 33, 0.3) 99.09%);
}

.discount-banner{
  background: linear-gradient(0deg, #201913, #201913),
linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 243, 234, 0.05) 100%);
}

.footer-bg{
  background: linear-gradient(0deg, #201913, #201913),
linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(255, 243, 234, 0.05) 100%);

}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
